@font-face {
  font-family: BerninaSans-Light;
  src: url('../fonts/BerninaSans/BerninaSans-Light.otf');
  font-weight: normal;
}

@font-face {
  font-family: BerninaSans-Regular;
  src: url('../fonts/BerninaSans/BerninaSans-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: Bitter-MediumItalic;
  src: url('../fonts/Bitter/Bitter-MediumItalic.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Bitter-Medium;
  src: url('../fonts/Bitter/Bitter-Medium.ttf');
  font-weight: normal;
}
