$red: #EC1C24;
$medium-red: #B1181E;
$dark-red: #6B0000;

$light-green: #B2D235;
$medium-green: #529736;
$dark-green: #00591D;

$light-blue: #00BCF1;
$blue: #007db9;
$dark-blue: #003A5D;

$orange: #F26322;
$yellow: #FDB714;
$brown: #652517;

$teal: #00B5AF;
$medium-teal: #00746D;
$dark-teal: #004B45;

$white: #FFFFFF;
$lighter-grey: #EBEBEB;
$light-grey: #EFEFEF;
$medium-grey: #a9a9a9;
$grey: #626262;
$dark-grey: #4D4D4D;

$light-teal: saturate(red, 50%);
